---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
const { slug } = Astro.params;
const name = slug?.split(".")[0] ?? "default";
const post = await getEntry("posts", name);
---

<BaseLayout pageTitle={post?.data?.title} navIndex="5">
  <h3 class="text-right mx-10">
    Written by {post?.data?.author}
  </h3>
  <h3 class="text-right mx-10">
    Published on {
      post?.data?.pubDate.toString().split(" ").slice(0, 4).join(" ")
    }
  </h3>
  <Image
    class="mx-5 float-start"
    src={post?.data?.image.url ?? "default.png"}
    alt={post?.data?.image.alt ?? "default"}
    width={post?.data?.image.width ?? 80}
    height={post?.data?.image.height ?? 80}
    }
  />
  <p class="mx-5">{post?.data?.body}</p>

  <slot />
</BaseLayout>
