---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About the Project";
const navIndex = 1;
---

<BaseLayout pageTitle={pageTitle} navIndex={navIndex}>
  <p class="mx-5">
    This is work in progress to explore Astro's island archtecture. <br />Astro,
    Tailwind and Netlify make throwing something together and deplying it quite
    seemless.<br />So far<br /><br />
  </p>
</BaseLayout>
