---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro";
const navIndex = 0;
---

<BaseLayout pageTitle={pageTitle} navIndex={navIndex}>
  <p class="mx-10 text-slate-900">This is the home page of the project</p>
</BaseLayout>
