---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro";
const navIndex = 0;
---

<BaseLayout pageTitle={pageTitle} navIndex={navIndex}>
  <h1 class="text-center text-slate-900">
    This is the home page of the project
  </h1>
</BaseLayout>
