---
const { myUrl } = Astro.props;
const prefix = "https://";
const fullUrl = prefix + myUrl;
---

<footer class="mx-5 my-10">
  <p>
    To learn more about Astro please visit <a
      class="text-purple-800"
      href={fullUrl}>{myUrl}</a
    >
  </p>
</footer>
