---
const allPosts = await Astro.glob("../pages/posts/*.md");
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
---
<hr class="my-5">

<div class="grid grid-flow-col-dense">
  {
    uniqueTags.map((tag) => (
      <div class="bg-blue-100 mx-3 rounded-full text-center">
        <a href=`/tags/${tag}`>{tag}</a>
      </div>
    ))
  }
</div>
<hr class="my-5">
