---
import { getCollection } from "astro:content";
const collection = 'posts'
const allPosts = await getCollection(collection)
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.data.tags).flat()),
];
---
<hr class="my-5">

<div class="grid grid-flow-col-dense">
  {
    uniqueTags.map((tag) => (
      <div class="bg-blue-100 mx-3 rounded-full text-center">
        <a href=`/tags/${tag}`>{tag}</a>
      </div>
    ))
  }
</div>
<hr class="my-5">
