---
const { myind } = Astro.props;
const navitems = [
  { url: "/", name: "Home" },
  { url: "/about", name: "About" },
  { url: "/blog", name: "Blog" },
];
const myname = navitems[myind]?.name ?? "Nothing";
const myitems = navitems.filter(({ url, name }) => {
  return name != myname;
});
---

<div>
  {
    myitems.map(({ url, name }) => {
      return (
        <a class="mx-5 text-blue-800" href={url}>
          {name}
        </a>
      );
    })
  }
</div>
