---
const { myind } = Astro.props;
const navitems = [
  { url: "/", name: "Home" },
  { url: "/about", name: "About" },
  { url: "/blog", name: "Blog" },
];
const myname = navitems[myind]?.name ?? "Nothing";
const myitems = navitems.filter(({ url, name }) => {
  return name != myname;
});
import { Image } from "astro:assets";
---

<div class="grid grid-rows-1 grid-flow-col w-1/4">
  <Image
    src="/images/my-logo.png"
    alt="logo"
    width="20"
    height="30"
    class="mx-5"
  />
  {
    myitems.map(({ url, name }) => {
      return (
        <a class="mx-5 text-blue-800" href={url}>
          {name}
        </a>
      );
    })
  }
</div>
